# rename this file '.env' and fill in the keys

# https://console.cloud.google.com/apis/library/youtube.googleapis.com
YOUTUBE_API_KEY=

OPENAI_API_KEY=

# https://sendgrid.com
SENDGRID_API_KEY=

# The email address where the mail is sent from.
FROM_EMAIL=
# Where the mail is sent to. Can be the same as from_email.
TO_EMAIL=


TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=